@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
	--primary: rebeccapurple;
	--secondary: cornflowerblue;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 3px solid var(--primary);
}
/* color for the text selection */
::selection {
	background: var(--secondary);
	color: var(--primary);
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	background-color: #000;
	overflow: hidden;
}
body {
	min-height: 100vh;
	overflow: hidden;
}

* {
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 400;
	transition: 0.3s ease-in-out color, 0.6s ease-in-out background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.hover-out::before,
.hover::before {
	position: absolute;
	content: attr(data-content);
	color: currentColor;
	-webkit-text-fill-color: currentColor;
}
.hover-out::before {
	animation: clipPathOut 0.5s ease-in-out forwards;
}
.hover::before {
	animation: clipPathIn 0.5s ease-in-out forwards;
}
@keyframes clipPathIn {
	0% {
		clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
@keyframes clipPathOut {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	}
}
